.margin{
    margin-top: 25px !important;
}
.selfdrive{
    color: #028a72;
    font-style:oblique;
    font-weight:bold;
}
.location{
    color:rgb(166, 166, 166)
}
.mainLocation{
    color: rgba(2, 138, 114, 1); 
    font-weight: bold;
}
.container{
    font-family: "Satoshi" , sans-serif;
}
