.navbar-brand{
    color: #028a72;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.navbar-expand-lg{
  font-family: 'Roboto' , sans-serif;
}
.form-select{
    width:200px !important;
    margin-right: 200px;
}
.form-control{
    width: 600px;
}
.autoshare{
    font-family:Georgia, 'Times New Roman', Times, serif ;
    border: 2px solid rgb(163, 163, 163);
    padding: 4px;
    border-radius: 8px;
    color: white !important;
    background: linear-gradient(270deg , #097c67cb , #064338f9);
}

