.navbar-brand{
    color: #028a72;
    font-family: 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.form-select{
    width:200px !important;
    margin-right: 200px;
}
.form-control{
    width: 600px;
}
.autoshare{
    border: 2px solid rgb(163, 163, 163);
    padding: 4px;
    border-radius: 8px;
    color: white !important;
    background: linear-gradient(270deg , #00715ca2 , #045949);
}

