.navbar-brand{
    color: #028a72;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.navbar-expand-lg{
  font-family: 'Roboto' , sans-serif;
}
.form-select{
    width:200px !important;
    margin-right: 200px;
}
.form-select:focus{
    box-shadow: inset 0 0 5px #028a72 !important;
}
.form-control{
    width: 600px;
}
.form-control:focus{
    box-shadow: inset 0 0 5px #028a72 !important;
}
.autoshare{
    font-family:Georgia, 'Times New Roman', Times, serif ;
    border: 2px solid #a3a3a3;
    padding: 4px;
    border-radius: 8px;
    color: #ffffff !important;
    background: linear-gradient(270deg , #04856dcb , #025d4cf9);
}